input
{
    margin-left: 30px;
}

.body
{
    margin-top: 10px;
}

.info
{
    margin-left: 50px;
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container
{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.col
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



file-previewer
{
    width: 400px;
    background-color: rgb(244, 255, 227);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
