/* You can add global styles to this file, and also import other style files */
a
{
    color: #333;
    transition: 1s;
}

a:hover{
    text-decoration: underline;
    color: rgb(194, 80, 3);
    cursor: pointer;
}


.active
{
    color: rgb(194, 80, 3);
}
