<div *ngIf="folder" style="margin: 10px 10px 10px 50px" [ngClass]="{'empty-folder' : !folder.files.length }">
    <div class="row" style="display: flex; justify-content:flex-start; align-items: center;">
        <img src="./assets/icons/folder-mac.png" width="48" height="48">
        <a (click)="openFolder()" ><h3 style="margin: 0 0 0 10px" >{{ folder.name }}</h3></a>
    </div>
    <div *ngIf="folder.opened">
        <div *ngFor="let item of folder.files" >
            <folder *ngIf="item.type == 'folder'" [folder]="item"></folder>
            <file *ngIf="item.type == 'file'" [file]="item"></file>
        </div>
    </div>
</div>

